@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #333;
  --background: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fff;
    --background: #111;
  }
}

body {
  @apply bg-gradient-to-br from-gray-900 via-gray-800 to-gray-900 text-slate-100 font-sans antialiased;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}